*{

box-sizing:border-box;

font-family:Arial, sans-serif;

}


body{

margin:0;

background:#f3f5f7;

color:#222;

}


header{

background:#12372a;

color:white;

padding:25px;

text-align:center;

}



.cards{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(220px,1fr));

gap:20px;

padding:25px;

}



.card{

background:white;

padding:20px;

border-radius:15px;

box-shadow:
0 5px 20px rgba(0,0,0,.1);

text-align:center;

}


.card h2{

font-size:35px;

color:#0b7a4b;

}



.charts{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(350px,1fr));

gap:25px;

padding:25px;

}



.box{

background:white;

padding:25px;

border-radius:15px;

}



.table-box{

background:white;

margin:25px;

padding:20px;

border-radius:15px;

overflow:auto;

}



table{

width:100%;

border-collapse:collapse;

}



th{

background:#12372a;

color:white;

padding:12px;

}



td{

padding:10px;

border-bottom:1px solid #ddd;

text-align:center;

}



@media(max-width:600px){


header h1{

font-size:22px;

}


.card h2{

font-size:28px;

}


}
